.img-center{
    /*z-index:-1;*/
    position: relative;
    margin: auto;
    text-align: center;
    z-index: 8;
}

.menu-top{
    background-image: url("../images/bg-menu-top.png");
}
.athena{
    position: absolute;
    margin-top: 240px;
    z-index: 3;
}
.ares{
    position: absolute;
    z-index: 2;
    margin-top: 70px;
    margin-left: 180px;
}

.shadow-man{
    position: absolute;
    z-index: 4;
    margin-top: 90px;
    margin-left: 370px;
}
.shadow-text{
    position: absolute;
    z-index: 5;
    margin-left: 535px;
    margin-top: 330px;


}
.zeus{
    position: absolute;
    margin-left: 600px;
    margin-top: 100px;

}
.hecquyn{
    position: absolute;
    margin-left: 700px;
    margin-top: 250px;
    z-index: 1;

}
.logo-icheck{
    margin-left: 1000px;
    position: absolute;
    z-index: 6;
    margin-top: 80px;
}
.img2{
    width: 32px;
    height: 32px;
    margin-right: 70px;
    margin-top: 10px;
    background: no-repeat;
    background-image: url("../images/fanpage-off-menu-top.png");
}
.img2:hover{
    padding-top: 10px;
    background-image: url("../images/fanpage-on-menu-top.png");
}

.img3{
    width: 32px;
    height: 32px;
    margin-right: 50px;
    margin-top: 10px;
    background: no-repeat;
    background-image: url("../images/dauhoi-off-menu-top.png");
}

.img3:hover{
    width: 32px;
    height: 32px;
    margin-right: 50px;
    margin-top: 10px;
    background: no-repeat;
    background-image: url("../images/dauhoi-on-menu-top.png");
}

.img4{
    padding-top: 10px;

}

.color{
    color: #ffffff;
}

.form{
    position: absolute;
    margin-top: 3670px;
    margin-left: 540px;
    z-index: 9;

}
.send{
    position: absolute;
    margin-top: 3750px;
    margin-left: 470px;
    z-index: 10;
}
.up1{
    width: 122px;
    height: 40px;
    z-index: 15;
    position: absolute;
    margin-top: -220px;
    margin-left: 510px;
    background: url("../images/tai-len-cv.png") 0 0 no-repeat;


}

.send-button{
    width: 269px;
    height: 49px;
    z-index: 16;
    position: absolute;
    background: url("../images/gui-dang-ky.png") no-repeat;
    margin-top: -140px;
    margin-left: 440px;
}

.fly-btn{
    z-index: 20;
    position: absolute;
    left: 633px;
    top: 4370px;
    margin-left: -61px;
    background-image: url("../images/tai-len-cv.png");
    width: 122px;
    height: 40px;
    background-repeat: no-repeat;
}